*{
    padding: 0;
    margin: 0;
}

.formcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    min-height: 100vh;
    margin-left: 90px;
    background: linear-gradient(
      to right,
      rgb(255, 255, 255) 10%,
      rgba(255, 255, 255, 0.912) 20%,
      rgba(74, 189, 255, 0.235) 100%
    ),
    url("../recursos/img/historia.jpg"); 
    background-position: center;
    background-size: cover;
    
}

.buttoncont{
    position: absolute;
    margin-left: -180px;
    margin-top: -30px;
}

.buttonregister {
    width: 100px;
    height: 50px;
    background: rgb(16, 167, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
    margin-left: -10px;
    border: none;
    position: absolute;
    cursor: pointer;
    font-size: 15px;
    color: aliceblue;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.5);
}

.pacientselectcont{
    opacity: 0;
    visibility: none;
    pointer-events: none;
    
}

.pacientselectcont.active {
    opacity: 1;
    pointer-events: all;
    
}

.pacientselectcont.active + .pacientform{
    opacity: 0;
    visibility: none;
    pointer-events: none;
    
}

.pacientformcont{
    background-color: rgb(0, 26, 58);
    min-height: 69vh;
    max-height: 69vh;
    min-width: 810px;
    max-width: 810px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.5);
    max-width: 600px;
    transition: background-color 0.1s ease, min-height 0.2s ease;
    border-radius: 20px;
    overflow: hidden;
    
}

.pacientformcont.registro{
    background-color: rgb(24, 116, 227);
    min-height: 680px;
    
    min-width: 810px;
    max-width: 810px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.5);
    max-width: 600px;
    border-radius: 20px;
}


.formpages{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-left: 130%;
    transition: transform ease 0.2s, margin-top ease 0.2s ;
}


.formpages.patologia{
    
    transform: translateX(-800px);
    margin-top: -40px;
}

.formpages.detalles{
    margin-top: -40px;
    transform: translateX(-1500px);
}

.pacientpage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}





.pacientform{
    display: grid;
    grid-template-columns: 260px 260px;
    grid-gap: 5px;
    width: 600px; 
    height: 500px;
    position: absolute;
    transition: opacity 0.1s;
    margin-left: 10%;
    margin-bottom: 10%;
    
}

.pacientform .contenedor_input{
   
    border-bottom: 2px solid rgb(255, 255, 255);
    color: #ffffff;
    
}

.pacientform .contenedor_input input{
   
    
    color: #ffffff;
    
}

.pacientform .contenedor_input label {
    
    color: #ffffff;
    
}

.button{
    width: 85%;
    height: 50px;
    background: rgb(91, 168, 213);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -30px;
    margin-left: -10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: aliceblue;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.5);
}

.pacientformcont .button{
    margin-top: 50px;
}

.contenedor_input.detalles {
  position: relative;
  border-bottom: none;
}

.contenedor_input.detalles .input_detalles:focus ~ label,
.contenedor_input.detalles .input_detalles:valid ~ label {
    transform: translateY(-48px);
}

.input_detalles {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  margin-top: 80px;
  border: none;
  color: white;
  border-bottom: 2px solid rgb(57, 146, 255); 
  background-color: transparent; 
  resize: none;
}


.pacientselectcont{
    
    min-width: 800px;
    max-width: 800px;
    
    transition: opacity 0.1s ease;
}

.searchbarcont{
    margin-left: 20px;
}

.tablausuarios{
    margin-top: 10px;
    min-height: 590px;
    max-height: 590px;
    color: white;
    overflow-y: scroll; 
    min-width: 100%;
    
}


th, td {
    padding: .8rem 1.5rem;
    text-align: left;
    
    
    
    
}



th{
    
    border-bottom: 1px solid rgb(255, 255, 255); 
    border-radius: 20px;
    position: sticky;
    
    border-radius: inherit;

}



.consultformcont{
    
    min-height: 80vh;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    

}



.consultform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 500px; 
    height: 500px;
    margin-top: 80px;
    margin-left: 100px;
}


.text_container {
    margin-top: 40px;
    margin-right: 60px;
    width: 400px;
  
    font-size: 25px;
    font-weight: 5000;
    line-height: 1.5;
}
  
.contenedor_input {
    margin-top: 15px;
    position: relative;
    width: 80%;
    height: 40%;
    border-bottom: 2px solid rgb(22, 145, 216);
    margin: 40px 0;
}
  
.contenedor_input input:focus ~ label,
.contenedor_input input:valid ~ label {
    transform: translateY(-15px);
}
  
.contenedor_input label {
    position: absolute;
    top: 40%;
    left: 5px;
    transform: translateY(-60%);
    font-size: 15px;
    font-weight: 500;
    transition: transform 0.3s;
    
    pointer-events: none;
}
  
.contenedor_input input {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
  
    padding: 0 35px 0 5px;
    padding-bottom: 10px;
}






.seleccionpatologiacont{
    
    opacity: 0;
    visibility: none;
    pointer-events: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    transition: opacity 0.1s;
    
}

.seleccionpatologiacont.active{

    opacity: 1;
    visibility:visible;
    pointer-events: all;
     
}


.patologiascont{
    display: grid;
    padding: 0 30px;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 50px;
    height: 250px;
    padding-left: 10px;
    overflow-y: scroll;
    overflow-x: visible;
    
}

.patologiacont{
  min-width: 100px;
  width: 120px;
    height: 50px;
    background: rgb(32, 172, 248);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    margin-left: -10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: aliceblue;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.5);
}

.patologiacont.selected{
  background: rgb(0, 2, 40);
}

.inputcontespe{
    display: flex;
    gap: 30px;
    color: white;
}



.buttonformcont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    width: 200px;
    
    
}

